<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="restaurantDao" class="beans.RestaurantDaoInMemoryImpl"></bean>
<bean id="restaurantService" class="beans.RestaurantServiceImpl">
<constructor-arg ref="restaurantDao"/>
<property name="restaurantDao" ref="restaurantDao"/>
</bean>

</beans>
